:root{
    --font-family: "Atkinson Hyperlegible", sans-serif;
    --ls-green: #166837;
    --ls-white: #fdfefd;
    --ls-black: #000000;
    --ls-gold: #cd9934;
    --ls-red: #cd201f;
    --ls-azure: #0e77ac;
    --midgrey-green: #8ab39b;
    --darkgrey-green: #4c8c66;
    --lightgrey-green: #c6dace;
    --cloudfair-bg: #222222;
    --interface-bg: #fafbfd;
    --hover-bg: #e9edf2;
}


html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
box-sizing: inherit;
}

body{
    margin: 0;
    font-family: var(--font-family);
}
