.hidden {
    display: none !important;
}

.userreservations{
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
}

.leftdetails{
    position: relative;
    padding-top: 20px;
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    color: var(--ls-green);
    border-right: 2px solid var(--midgrey-green);
    margin: 0;
}


.backbutt{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    background-color: var(--ls-green);
    width: auto;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--ls-white);
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.backbutt:hover{
    cursor: pointer;
    background-color: var(--darkgrey-green);
}


.butt{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--ls-green);
    width: auto;
    height: 30px;
    border-radius: 5px;
    color: var(--ls-white);
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.butt:hover{
    cursor: pointer;
    background-color: var(--darkgrey-green);
}

.butt h3{
    margin: 0;
}

.canbutt{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--ls-white);
    width: auto;
    height: 30px;
    border: 1px solid var(--ls-green);
    border-radius: 5px;
    color: var(--ls-green);
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.canbutt:hover{
    cursor: pointer;
    background-color: var(--ls-green);
    color: var(--ls-white);
}

.canbutt h3{
    margin: 0;
}

.butts{
    display: flex;
    gap: 10px;
}


.searchdeets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.searchdeets h3{
    width: 50%;
    margin: 0;
}

.rightdetails{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.label{
    width: 90%;
}

.lab{
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.lab span{
    margin-left: 35px;
}

.leb{
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
}

.st{
    margin-left: 50px;
} 

.leb h3{
    margin: 0;
}

.results{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 5px;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.results:hover{
    cursor: pointer;
    background-color: var(--lightgrey-green);
}

.results img{
    margin: 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    filter: brightness(1);
}

.resultdeets{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.resultdeets h3{
    margin: 0;
}
.resultdeets p{
    margin: 0;
}



.search{    
    padding: 5px;
    background-color: var(--interface-bg);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--lightgrey-green);
    border-radius: 5px;
}

.search input{
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: var(--interface-bg);
    border-radius: 5px;
}

.searchlogo{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border-radius: 5px; 
}

.searchlogo img{
    margin: 2px;
    height: 20px;
}

.options{
    display: flex;
    justify-content: right;
    width: 80%;
    gap: 50px;
}

.inpt{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.editrev{
    margin-left: 35%;
    color: var(--ls-green);
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--ls-white);
    border-radius: 20px;
    border: 2px solid var(--lightgrey-green);
}

.editrev h1, h3{
    margin: 0;
}