<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/interface.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="images/png" href="assets/images/archlabslogo.png">
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="js/student.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="cointainer">
        <div class="header">
            <img src="assets/images/headerlogo.png" alt="Logo" id="headerlogo">
            <div class="aboutbutt" id="about">
                <h3>About</h3>
            </div>
        </div>

        <div class="interface">
            <div class="menu">

                <div class="user">
                    <img onerror="this.src='assets/images/diffusersym.png'" alt="profile-picture" id="profile-picture">
                    <div class="username">
                        <h3 id = "student-username"></h3>
                    </div>
                </div>

                <div class="profile" id="studentprofile">
                    <div class="contain">
                        <img src="assets/images/profilesym.png" alt="profilesym">
                        <div class="aref">
                            <p>Profile</p>
                        </div>
                            <p> > </p>
                    </div>
               </div>
               <div class="reserve" id="studentreserve">
                    <div class="contain">
                        <img src="assets/images/reservesym.png" alt="reservesym">
                        <div class="aref">
                            <p>Reserve</p>
                        </div>
                            <p> > </p>
                    </div>
               </div>

               <div class="searchbutt" id="studentsearch">
                    <div class="contain">
                        <img src="assets/images/searchsym.png" alt="reservesym">
                        <div class="aref">
                            <p>Search</p>
                        </div>
                            <p> > </p>
                    </div>
               </div>
               <div class=" searchmen hidden" id="searchmenu">

                    <div class="searchmenu" id="searchstudent">
                        <div class="contain">
                            <div class="aref searchoption">
                                <p>Student</p>
                            </div>
                                <p> > </p>
                        </div>
                    </div>

                <div class="searchmenu" id="searchroom">
                        <div class="contain">
                            <div class="aref searchoption">
                                <p>Time Slot</p>
                            </div>
                                <p> > </p>
                        </div>
                </div>
               </div>
               
                <div class="logout" id="logout"> 
                        <img src="assets/images/logoutsym.png" alt="logoutsym">
                        <p>Logout</p>
               </div>
            </div>

            <div class="content">
                <div class="contheader">
                    <h1>Welcome <span id = "headusername"></span>!</h1>
                </div>
            </div>

        </div>
    </div>

</body>
</html>