<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/interface.css">
    <link rel="stylesheet" href="css/studentsearchroom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="js/studentsearchroom.js"></script>
    <title>Search Room</title>
</head>
<body>
    <div class="cointainer">
        <div class="header">
            <img src="assets/images/headerlogo.png" alt="Logo">
            <div class="backbutt" id="back">
                <h3>Back</h3>
            </div>
        </div>

        <div class="studentsearchprof">
                <div class="leftdetails">
                    
                    <div class="inpt">
                        <div class="searchdeets">
                            <h3>Date</h3>

                            <div class="options">
                                <div class="search">
                                    <input type="date" placeholder="Search" name= "searchbar" id="date">
                                </div>
                            </div>
                        </div>
                        <div class="searchdeets">
                            <h3>Time Start</h3>
                            <div class="options">
                                <select id="hourstart" class="search">
                                    <option value="">Hour</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                </select>
                                <select id="minutestart" class="search">
                                    <option value="">Minute</option>
                                    <option value="00">00</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                        <div class="searchdeets">
                            <h3>Time End</h3>
                            <div class="options">
                                <select id="hourend" class="search">
                                    <option value="">Hour</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                </select>
                                <select id="minuteend" class="search">
                                    <option value="">Minute</option>
                                    <option value="00">00</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <p class="errormess" id="errormess">Please enter all fields.</p>
                    <div class="butt" id="searchbutt">
                        <h3>Search</h3>
                    </div>
                </div>

                <div class="rightdetails" id="card">
                    <div class="label">
                        <div class="resultdeets">
                                <h3>Room #</h3>
                                <h3>Seat #</h3>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>