<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/interface.css">
    <link rel="stylesheet" href="css/techniciansearchrev.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Technician Search Reservations</title>
</head>
<body>
    <div class="cointainer">
        <div class="header">
            <img src="assets/images/headerlogo.png" alt="Logo">
            <div class="backbutt" id="back">
                <h3>Back</h3>
            </div>
        </div>

        <div class="techniciansearchrev">
                <div class="leftdetails">
                    <h1>Search Reservations</h1>
                    <div class="inpt">

                        <div class="searchdeets">
                            <h3>Search By</h3>

                            <div class="options">
                                <div class="search">
                                        <input list="rooms" id="room-choice" name="room-choice" placeholder="Type or select...">
                                        <datalist id="rooms">
                                            <option value="Room">
                                            <option value="Reservation ID">
                                            <option value="Seat">
                                            <option value="Date">
                                            <option value="Start Time">
                                            <option value="End Time">
                                        </datalist>
                                </div>
                            </div>
                        </div>
                       
                        <div class="searchdeets">
                             <div class="options">
                                <div class="search">
                                        <input type="text" placeholder="Search" name="searchbar" id="searchbar">
                                    <div class="searchlogo">
                                        <img src="assets/images/searchlogo.png" alt="searchlogo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    

                    <div class="butt" id="searchbutt">
                        <h3>Search</h3>
                    </div>
                </div>

                <div class="rightdetails" id="card">
                    <div class="label">
                        <div class="resultdeetslabel">
                                <p>ID#</p>
                                <p>Username</p>
                                <p>Reservation </p>
                                <p>Room </p>
                                <p>Seat </p>
                                <span>
                                    <p>Date </p>
                                    <p>Start Time </p>
                                    <p>End Time </p>    
                                </span>
                        </div>
                    </div>
                    
                    <div class="results">
                        <div class="resultdeets">
                            <p>12412910</p>
                            <p>Naomi Reyes</p>
                            <p>6767676767</p>
                            <p>Room G301</p>
                            <p>Seat 1</p>
                            <p>12/12/2024</p>
                            <p>12:00 PM</p>
                            <p>1:00 PM</p>
                        </div>
                            <div class="butt" id="reserve">
                                <h3>Reserve</h3>
                            </div>
                            <div class="butt" id="block">
                                <h3>Block</h3>
                            </div>
                    </div>

                     <div class="results">
                        <div class="resultdeets">
                            <p>12412910</p>
                            <p>Naomi Reyes</p>
                            <p>6767676767</p>
                            <p>Room G301</p>
                            <p>Seat 1</p>
                            <p>12/12/2024</p>
                            <p>12:00 PM</p>
                            <p>1:00 PM</p>
                        </div>
                            <div class="butt" id="reserve">
                                <h3>Reserve</h3>
                            </div>
                            <div class="butt" id="block">
                                <h3>Block</h3>
                            </div>
                    </div>

                     <div class="results">
                        <div class="resultdeets">
                            <p>12412910</p>
                            <p>Naomi Reyes</p>
                            <p>6767676767</p>
                            <p>Room G301</p>
                            <p>Seat 1</p>
                            <p>12/12/2024</p>
                            <p>12:00 PM</p>
                            <p>1:00 PM</p>
                        </div>
                            <div class="butt" id="reserve">
                                <h3>Reserve</h3>
                            </div>
                            <div class="butt" id="block">
                                <h3>Block</h3>
                            </div>
                    </div>

                     <div class="results">
                        <div class="resultdeets">
                            <p>12412910</p>
                            <p>Naomi Reyes</p>
                            <p>6767676767</p>
                            <p>Room G301</p>
                            <p>Seat 1</p>
                            <p>12/12/2024</p>
                            <p>12:00 PM</p>
                            <p>1:00 PM</p>
                        </div>
                            <div class="butt" id="reserve">
                                <h3>Reserve</h3>
                            </div>
                            <div class="butt" id="block">
                                <h3>Block</h3>
                            </div>
                    </div>


                </div>
        </div>
    </div>

    <script src="js/techniciansearchrev.js"></script>
</body>
</html>
