<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/interface.css">
    <link rel="stylesheet" href="css/techniciansearchprof.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="images/png" href="assets/images/archlabslogo.png">
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Search Profile</title>
</head>
<body>
    <div class="cointainer">
        <div class="header">
            <img src="assets/images/headerlogo.png" alt="Logo" id="headerlogo">
            <div class="backbutt" id="back">
                <h3>Back</h3>
            </div>
        </div>

        <div class="studentsearchprof">
                <div class="leftdetails">
                    
                    <div class="options">
                        <div class="search">
                                <input type="text" placeholder="Search" name= "searchbar" id="searchbar">
                            <div class="searchlogo">
                                <img src="assets/images/searchlogo.png" alt="searchlogo">
                            </div>
                        </div>
                    </div>

                    <div class="butt" id="searchbutt">
                        <h3>search</h3>
                    </div>
                </div>

                <div class="rightdetails" id="search-results">
                    <!-- search results will be rendered here by techniciansearchprof.js -->
                </div>
        </div>
    </div>

    <script src="js/techniciansearchprof.js"></script>
</body>
</html>