<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/interface.css">
    <link rel="stylesheet" href="css/userreservations.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Search Room</title>
</head>
<body>
    <div class="cointainer">
        <div class="header">
            <img src="assets/images/headerlogo.png" alt="Logo">
            <div class="backbutt" id="back">
                <h3>Back</h3>
            </div>
        </div>

        <div class="userreservations">
                <div class="leftdetails">
                    <h1>User Reservations</h1>
                </div>

                <div class="rightdetails" id="card">
                    <div class="label">
                        <div class="leb">
                            <div class="lab">
                                <h3>Reservation #</h3>
                                <h3>Room #</h3>
                                <span> <h3>Seat #</h3></span>
                            </div>
                                
                                <h3>Date</h3>
                                <div class="st"><h3>Start Time</h3></div>
                                <h3>End Time</h3>
                        </div>
                    </div>

                    <div id="reservations-list">
                        <!-- reservations will be rendered here by js/userreservations.js -->
                    </div>
                </div>

                <div class="editrev hidden" id="editrev">
                        <h1>Edit Reservations</h1>
                        <h3>#67676767</h3>

                        <div class="inpt">

                            <div class="searchdeets">
                                <h3>Room</h3>

                                <div class="options">
                                    <div class="search">
                                            <input type="text" placeholder="Search" name= "searchbar" id="room">
                                        <div class="searchlogo">
                                            <img src="assets/images/searchlogo.png" alt="searchlogo">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="searchdeets">
                                <h3>seat</h3>

                                <div class="options">
                                    <div class="search">
                                            <input type="text" placeholder="Search" name= "searchbar" id="seat">
                                        <div class="searchlogo">
                                            <img src="assets/images/searchlogo.png" alt="searchlogo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="searchdeets">
                                <h3>Date</h3>

                                <div class="options">
                                    <div class="search">
                                            <input type="text" placeholder="Search" name= "searchbar" id="date">
                                        <div class="searchlogo">
                                            <img src="assets/images/searchlogo.png" alt="searchlogo">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="searchdeets">
                                <h3>Time Start</h3>

                                <div class="options">
                                    <div class="search">
                                            <input type="text" placeholder="Search" name= "searchbar" id="timestart">
                                        <div class="searchlogo">
                                            <img src="assets/images/searchlogo.png" alt="searchlogo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="searchdeets">
                                <h3>Time End</h3>

                                <div class="options">
                                    <div class="search">
                                            <input type="text" placeholder="Search" name= "searchbar" id="timeend">
                                        <div class="searchlogo">
                                            <img src="assets/images/searchlogo.png" alt="searchlogo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                        </div>

                        <p class="errormess hidden">This time slot not available</p>

                        <div class="confirm">
                            <div class="butts">
                                <div class="butt" id="save">
                                    <h3>Save</h3>
                                </div>
                                <div class="canbutt" id="editcancel">
                                    <h3>Cancel</h3>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>

    <script src="js/userreservations.js"></script>
</body>
</html>