<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/interface.css">
    <link rel="stylesheet" href="../css/studentprofile.css">
    <link rel="stylesheet" href="../css/studentreserve.css">
    <link rel="stylesheet" href="../css/studentrooms/g302.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>G302</title>
</head>
<body>
    <div class="cointainer">
        <div class="header">
            <img src="../assets/images/headerlogo.png" alt="Logo">
            
            <div class="anonymous-toggle-wrap">
                <label class="toggle-switch">
                    <input type="checkbox" id="anonymous-toggle" class="toggle-input">
                    <span class="toggle-slider"></span>
                </label>
                <span class="anonymous-label">Anonymous</span>
            </div>

            <div class="backbutt" id="back">
                <h3>Back</h3>
            </div>
        </div>

        <div class="g302">
           <div class="topcont">
            <div class="butt hidden" id="rev">
                <h3>Reserve</h3>
            </div>
            <div class="label">
                <h1>ROOM G302</h1>
            </div>
            <div class="roombutt" id="seatmap">
                <h3>Seat Map</h3>
            </div>
           </div>

           <div class="date">
                <div class="datebutt" id="dateback">
                    <h3> &lt; </h3>
                </div>
                <h2 id="dayanddate">Thursday, January 1, 2026</h2>

                <div class="datebutt" id="datego">
                    <h3> &gt; </h3>
                </div>
           </div>

           <div class="timelabel">
            <div class="date-grid-header">
                        <div class="date-grid-corner"></div>
                        <div class="date-grid-time"><span>8:00 AM</span><span>8:30 AM</span></div>
                        <div class="date-grid-time"><span>8:30 AM</span><span>9:00 AM</span></div>
                        <div class="date-grid-time"><span>9:00 AM</span><span>9:30 AM</span></div>
                        <div class="date-grid-time"><span>9:30 AM</span><span>10:00 AM</span></div>
                        <div class="date-grid-time"><span>10:00 AM</span><span>10:30 AM</span></div>
                        <div class="date-grid-time"><span>10:30 AM</span><span>11:00 AM</span></div>
                        <div class="date-grid-time"><span>11:00 AM</span><span>11:30 AM</span></div>
                        <div class="date-grid-time"><span>11:30 AM</span><span>12:00 PM</span></div>
                        <div class="date-grid-time"><span>12:00 PM</span><span>12:30 PM</span></div>
                        <div class="date-grid-time"><span>12:30 PM</span><span>1:00 PM</span></div>
                        <div class="date-grid-time"><span>1:00 PM</span><span>1:30 PM</span></div>
                        <div class="date-grid-time"><span>1:30 PM</span><span>2:00 PM</span></div>
                        <div class="date-grid-time"><span>2:00 PM</span><span>2:30 PM</span></div>
                        <div class="date-grid-time"><span>2:30 PM</span><span>3:00 PM</span></div>
                        <div class="date-grid-time"><span>3:00 PM</span><span>3:30 PM</span></div>
                        <div class="date-grid-time"><span>3:30 PM</span><span>4:00 PM</span></div>
                        <div class="date-grid-time"><span>4:00 PM</span><span>4:30 PM</span></div>
                        <div class="date-grid-time"><span>4:30 PM</span><span>5:00 PM</span></div>
                        <div class="date-grid-select-head"></div>
                    </div>

           </div>
<!-- -------------------------------------------------------------------------------------------------------- -->
           <div class="date-grid-wrap">
                <div class="date-grid">

                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 1</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 2</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 3</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 4</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 5</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 6</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 7</div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 8</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 9</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 10</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 11</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 12</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 13</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 14</div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                    </div>

                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 15</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 16</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 17</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 18</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 19</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 20</div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell selected"></div>
                        <div class="date-grid-cell"></div>
                        <div class="date-grid-cell"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 21</div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 22</div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 23</div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                    </div>
                    <div class="date-grid-row">
                        <div class="date-grid-seat">Seat 24</div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                        <div class="date-grid-cell unavailable"></div>
                    </div>
                </div>
           </div>
<!-- -------------------------------------------------------------------------------------------------------- -->

           <div class="seat-info-card hidden" id="seat-info-card">
                <img src="../assets/images/student.png" alt="User avatar" class="seat-info-avatar">
                <h2 class="seat-info-username">@ch4zw1ck</h2>
           </div>

           <div class="seatmap hidden" id="map">
                <div class="crossback">
                    <div class="crsback" id="crossback">
                        <img src="../assets/images/crossback.png" alt="crossback">
                    </div>
                </div>
                <div class="map">
                    <div class="whiteboard">
                        <p>whiteboard</p>
                    </div>
                    <img src="../assets/images/seatmapimage.png" alt="seatmap">
                </div>

           </div>

        </div>
    </div>
    <script src="../js/studentrooms/g302.js"></script>
</body>
</html>